@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  color: #ffffff;
  background: rgb(23, 23, 23);
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body {
  background-color: #202020;
  color: #ddd;
} */

.lock-scroll {
  overflow: hidden;
  height: 100vh;
}

/* form input {
  color: black;
} */